@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

body {
    background-color: #ffffff;
    font-family: 'Inconsolata', monospace;
}

html.dark body {
    background-color: #000000;
}

input[type="number"] {
    width: 5rem;
}

input[type="checkbox"] {
    vertical-align: middle;
    margin-top: -2px;
}

button {
    background-color: #b7556b !important;
}

button:active {
    background-color: #825690 !important;
}

.main {
    max-width: none !important;
}

svg.spinner {
    vertical-align: -1px;
}

.v-lazy-image {
    filter: blur(5px);
    transition: filter 1.6s ease-out, opacity 1s ease-out;
    will-change: filter;
    opacity: 0;
}
.v-lazy-image-loaded {
    filter: blur(0);
    opacity: 1;
}
