# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
# By convention in @tablelandnetwork repos, the first listed
# CODEOWNER is the repo DRI (directly responsible individual)
* @sanderpick
/animation_url/ @joewagner
/artifacts/ @asutula
/cmd/ @asutula
/ethereum/ @dtbuchholz @sanderpick
/garage/ @datadanne
/pkg/ @asutula
/viewer/ @asutula
/.golangci.yml @asutula
/go.* @asutula
