images
images.zip
sql
sql.zip
renders

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDEs
.idea/
.vscode/

# Project
.env*
*.ignore

#client
client/node_modules/
client/.nuxt
client/.eslintcache
client/dist/

#ethereum
ethereum/node_modules
ethereum/.env
ethereum/coverage
ethereum/coverage.json
ethereum/typechain
ethereum/typechain-types
ethereum/abi.json
ethereum/bytecode.bin
ethereum/gobuild
ethereum/cache
ethereum/artifacts
ethereum/allowlists
ethereum/.openzeppelin/unknown-*1337.json
